{% extends 'tracker/base.html' %}

{% block content %}
<h2 class="mb-3">All Expenses</h2>
<h5>Total Spent: ₹{{ total }}</h5>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.title }}</td>
            <td>₹{{ expense.amount }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
